.home-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #e6f0fa 0%, #f5faff 100%);
  position: relative;

  .back-to-top {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #47536b;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    &:hover {
      background-color: #2980b9;
    }

    &.visible {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s;
    }

    svg {
      font-size: 24px;
      color: white;
    }

    z-index: 1001;
  }
}
