.product-list-container {
  padding: 20px;
  .product-card {
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .product-image {
      height: 300px;
      object-fit: cover;
    }
    .product-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      flex-grow: 1;
      .product-name {
        font-weight: bold;
        margin-bottom: 5px;
        height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      .product-description {
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      .product-price {
        color: #32302f;
        font-weight: bold;
        margin-top: auto;
      }
    }
    .product-actions {
      display: flex;
      justify-content: center;
      gap: 10px;
      padding: 10px 0;
      .action-icon {
        cursor: pointer;
        margin-bottom: 20px;
        font-size: 1.5em;
        color: #32302f;
        transition: color 0.2s;
        &:hover {
          color: #ff5722;
        }
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
