.product-list-container {
  padding: 20px;

  .sidebar-toggle {
    background: #4b6a88;
    color: #fff;
    text-transform: none;
    &:hover {
      background: #3b536e;
    }
  }

  .main-content {
    display: flex;
    gap: 25px;
    padding-top: 64px;
  }

  .sidebar {
    .sidebar-content {
      padding: 20px;
      background: #ffffff;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      margin-bottom: 20px;

      .sidebar-title {
        font-weight: bold;
        color: #4b6a88;
        margin-bottom: 10px;
        font-size: 1.25rem;
      }

      .MuiTypography-caption {
        font-size: 0.85rem;
        color: #666;
      }
    }
  }

  .products-content {
    flex: 1;
  }

  .category-title {
    font-weight: bold;
    color: #4b6a88;
    margin-bottom: 20px;
  }

  .results-count {
    color: #666;
    font-size: 0.875rem;
  }

  .product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    animation: fadeIn 0.5s ease-in-out;
    height: 85%;
    min-height: 300px;
    width: 100%;

    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }

    .product-image {
      height: 300px;
      object-fit: contain;
      padding: 25px;
      background-color: #ffffff;
      width: 100%;
    }

    .product-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      flex-grow: 1;
      padding: 20px;
      background: #ffffff;

      .product-name {
        font-weight: 600;
        margin-bottom: 8px;
        height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #333;
        font-size: 1.1rem;
      }

      .product-description {
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #666;
        font-size: 0.9rem;
      }

      .product-price {
        color: #d32f2f;
        font-weight: bold;
        margin-top: auto;
        font-size: 1.1rem;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
